html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
}

.navbar-brand {
  font-family: "Kaushan Script";
  font-weight: 200;
  font-size: 1.25em;
}

.navbar-toggler {
  align-content: left;
}

.nav-items {
  font-family: "Montserrat";
  text-transform: uppercase;
}

.intro-section {
  height: 100vh;
  background-image: url(img/durango-rr.jpg);
  background-size: cover;
  font-family: "Montserrat";
  text-transform: uppercase;
}

.overlay {
  position: absolute;
  background-color: #212529;
  height: 100%;
  width: 100%;
  opacity: 0.5;
}

.intro-section .container {
  padding-top: 40vh;
}

p {
  color: #fff;
  font-size: 4vw;
  font-weight: 700;
}

.places {
  background-color: rgb(228, 226, 226);
  padding-top: 8rem;
  padding-bottom: 8rem;
}

img {
  height: 225px;
  width: 225px;
  border: 7px solid #fff;
  border-top-color: rgb(255, 255, 255);
  border-top-style: solid;
  border-top-width: 7px;
  border-right-color: rgb(255, 255, 255);
  border-right-style: solid;
  border-right-width: 7px;
  border-bottom-color: rgb(255, 255, 255);
  border-bottom-style: solid;
  border-bottom-width: 7px;
  border-left-color: rgb(255, 255, 255);
  border-left-style: solid;
  border-left-width: 7px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  position: center;
  margin-bottom: 50px;
}

.Col {
  padding-left: 3rem;
  padding-right: 3rem;
}

/* @media (max-width: 575px) {
  .container {
    max-width: 90vw;
  }
} */

@media (min-width: 576px) {
  .container {
    max-width: 540px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 720px;
  }
}

@media (min-width: 992px) {
  .container {
    max-width: 960px;
  }
}
/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */
